# Ambiente Virtual Python
venv/
.venv/

# Caches e arquivos compilados
__pycache__/
*.pyc

# Credenciais (Só por segurança)
*.json
*.env

# Modelos de ML
*.pkl
*.joblib

# Cache do script de analise
analysis/__pycache__/